@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    overflow-x: hidden;
}

.head{
    position:fixed;
    width: 100%;
    top:0;
    left: 0;
    right: 0%;
    height: 90px;
    background: #00063C;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 3;
}
.Logo{
    display: block;
    height: 60px;
    margin-top: 10px;
}
.Logo:hover{
    transform: scale(0.9);
}
.FirstPicture{
    
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 90px;
    width: 100%;
    height: 60%;
    background-image: url("pc.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(181, 199, 240); 
    justify-content: center;
    z-index: 0;
}
.FirstPictureSettings{
    position: absolute;
    width: 100%;    
}

.headInside{
    position: relative;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
    color: white;
}
.BtnLog{
    background-color: green;
    color: white;
    width: 90px;
    height: 30px;
    border-color: green;
    margin-top: 30px;
    font-family: 'Vollkorn', serif;
}
.BtnLog:hover{
    background-color: rgb(228, 186, 0);
    cursor: pointer;
    transform: scale(1.1);
    border-color: rgb(228, 186, 0);
    
    
}
.article{
    position: relative;
    margin-top: 150px;
    text-align: center;
    color: #010844;
    font-family: 'Vollkorn', serif;
    top: -100px;
    font-size: 85%;

}
.MainBlockForModal{
    margin: auto;
    display: block;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;  
    
   
   
}
.ModalMainWindow{
    display: block;
    position: fixed;
    justify-content: center;
    background-color: white;
    width: 350px;
    height: 300px;
    text-align: center;
    border: rgb(26, 128, 0) solid 2px;
    z-index: 6; 
    top:30%;
    
    
    
}
.dark{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 5;
    opacity: 0.6;
    display: none;
   
}
.dark:hover{
    cursor: pointer;
}
.ModalForm{
    display: block;
    justify-content: center;
}
.View{
    display: none;
}
.ModalArticle{
    color: #000536;
}
.inputs{
    width: 80%;
    margin-top: 5%;
    border-color: green;
}
.inputsBTN{
    margin-top: 10%;
    background-color: green;
    color: white;
    font-size: 100%;
}
.inputsBTN:hover{
    background-color: rgb(228, 186, 0);
    cursor: pointer;
    transform: scale(1.1);
    border-color: rgb(228, 186, 0);
   

}
.problems{
    text-align: right;
    
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    color: #000536;
}
.ArticlePage{
    top: 5px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    
    text-align: center;
    width: 100%;
    
    color: rgb(2, 2, 54);
    font-size: 150%;
    left: 0;
    right: 0;

    
    
    
}
.artcl{
    margin-left: 5%;
    margin-right: 5%;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
}
.line{
    position: relative;
    width: 30%;
    height: 2px;
    background-color: rgb(2, 2, 54);
    align-self: center;
    
    
   
    
    
}
.MainPlace{
    top: 80%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 0;
    right: 0;
}
.ImagesCircles{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70%;
    margin-top: 200px;
    position: relative;
    
}
.ImagesCirclesSettings{
   
    height: 80%;
    position: relative;
}
.Inside{
    display: block;
    text-align: center;
    color: rgb(2, 2, 54);
    font-size: 120%;
    background-color: white;
    position: relative;
    margin-bottom: 5%;
    
    
   

}
.SecondPlace{
    position: relative;
  
  
   
    width: 100%;
    background-color: rgb(230, 230, 230);
   
    
    
   
    
}
.SecondPlace1{
    position: absolute;
  
  
    display: flex;
   
    width: 100%;
    background-color: rgb(241, 241, 241);
   
    
    
   
    
}
.articlTable{
    text-align: center;
    
}
.Table{
    font-size: 120%;
    
}
.description{
    position: relative;
    display: block;
    font-family: 'Vollkorn', serif;
    
    
    
   
    color: rgb(1, 0, 73);
    width: 80%;
    left: 0;
    right: 0;
    font-size: 150%;
    text-align: left;
    justify-content: center;
    margin-left: 5%;
   
    
    
    
    
}
.HowItIs{
    display: flex;
    width: 100%;
    position: relative;
    background-color: rgb(0, 0, 100);
    color: white;
    
    justify-content: center;
}


.SliderSettings{
   width: 100%;
   
    
  
  
    
    
}
.descriptionHow{
   width: 30%;
  
   
   

}
.footer{
    display: flex;
    position: absolute;
   
    width: 100%;
    z-index: 8;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(12, 0, 66);
    justify-content: center;
    
}


/*   !!!!!!!!!!!!!!!!!!!! Под Мобилки и тд !!!!!!!!!!!!!!!!!!!!!!*/

@media (max-width: 1024px) {
    
    
    .ImagesCircles{
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 30%;
        margin-top: 200px;
        position: relative;
    }
.Inside{
   position: relative;
   padding-bottom: 10%;
}
}
@media (max-width: 768px) {
    
.descriptionHow{
    display: none;
    
}
    

.Table{
    text-align: center;
}
.Inside{
    position: relative;
    padding-bottom: 15%;
 }
}
@media (max-width: 550px) {
    .Inside{
        position: relative;
        padding-bottom:10%;
     }
   

h2{
    font-size: 100%;
}
.ImagesCircles{
    display: block;
    
    width: 100%;
    height: 100%;
    
    
}
 .ImagesCirclesSettings{
     width: 60%;
     height: 100%;
     
 }  

 
}

 @media (max-width: 375px) {

 
 .ImagesCirclesSettings{
    width: 80%;
    height: 100%;
    
}  
 .ImagesCircles{
    display: block;
    
    width: 100%;
    height: 100%;
    
    
}
 .SecondPlace{
     
 }
 h1{
     font-size: 140%;
 }
 .Inside{
    position: relative;
    padding-bottom: 15%;
 }
}
 @media (max-width: 320px) {
    .Inside{
        position: relative;
        padding-bottom: 30%;

    }
}